/**
** Author: Uzzwal Dhali
** Author Portfolio: https://www.uzzwal.com
*
*/
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Poppins:wght@300;400;500&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

.toast {
  position: fixed;
  top: 2em;
  right: 2em;
  background: #fff;
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
  color: #1EAD41;
  padding: 0.75em 1em;
  border-radius: 0.5em;
  cursor: pointer;
}

.toast-in {
  animation: toast-in 0.5s ease-in;
}

.toast-out {
  animation: toast-out 0.5s ease-in;
}

.container {
  background: #1468c7;
  padding: 2em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card {
  background: #fff;
  border-radius: 1em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
.container .card .color_display {
  background: #1468c7;
  border-radius: 0.5em;
  height: 10em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 0.8em;
}
.container .card .color_display .copy_buttons {
  display: flex;
  gap: 0.5em;
}
.container .card .color_display .copy_buttons .copy_button {
  background: #fff;
  padding: 0.3em 0.8em;
  border-radius: 0.4em;
  margin-top: 1em;
  cursor: pointer;
}
.container .card .color_sliders {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}
.container .card .color_sliders .slider input {
  width: 100%;
}
.container .card .color_sliders .slider .info {
  display: flex;
  justify-content: space-between;
  font-size: 0.65em;
  font-family: "Poppins", sans-serif;
}
.container .card .color_generator {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0.5em;
}
.container .card .color_generator .input_hex {
  display: flex;
  position: relative;
}
.container .card .color_generator .input_hex input {
  display: flex;
  width: 100%;
  background: rgb(226, 224, 224);
  padding: 0.5em;
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 0.5em;
  font-size: 1em;
  text-align: center;
  font-family: "Poppins", sans-serif;
}
.container .card .color_generator .input_hex span {
  position: absolute;
  left: -1px;
  background: #767676;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  padding: 0.5em 1em;
  color: #fff;
  border-radius: 0.5em 0em 0em 0.5em;
}
.container .card .color_generator .generate {
  background: rgb(8, 176, 112);
  color: white;
  cursor: pointer;
  padding: 0.5em 1.2em;
  border-radius: 0.5em;
  transition: background 0.5s ease-in;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
}
.container .card .color_generator .generate span {
  display: none;
}
.container .card .color_generator .generate:hover {
  cursor: pointer;
  background: rgb(6, 161, 101);
}
.container .card .message {
  font-family: "Righteous", sans-serif;
  font-size: 1.7em;
  color: #fff;
  text-align: center;
  margin-bottom: 1.2em;
  line-height: 1;
}

@keyframes toast-in {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes toast-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(200px);
    opacity: 0;
  }
}/*# sourceMappingURL=styles.css.map */